<div class="input-group">
  <input class="form-control" [type]="showPasswd ? 'password' : 'text'" placeholder="{{ 'app_password' | translate }}" 
          [(ngModel)]="password" (ngModelChange)="changed()" />
  <div class="input-group-append">
    <button class="input-group-btn btn btn-secondary-white" (click)="changeState()">
      <img [hidden]="!showPasswd" src="/icons/closed-eye-min.png" alt="Hide password" />
      <img [hidden]="showPasswd" src="/icons/opened-eye-min.png" alt="Show password" />
    </button>
  </div>  
</div>
<span class="text-danger field-validation-valid" [hidden]="!passwordError">
  {{ passwordError }}
</span>