.radio-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.country-flag {
    margin-top: -12px;
    margin-bottom: -14px;
}

.shadow {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
