.btn-lw-def {
  color: #111;
  background-color: #ffffff;
  border-color: #b6b6b6;
}

.btn-lw-prim {
  color: #fff;
  background-color: #2d6ca2;
  border-color: #004888;
}

.btn-lw-warn {
  color: #fff;
  background-color: #eb9316;
  border-color: #bd6e00;
}

.btn-lw-succ {
  color: #fff;
  background-color: #5cb85c;
  border-color: #009e00;
}

.btn-lw-dang {
  color: #fff;
  background-color: #d9534f;
  border-color: #d81814;
}