.no-padding {
    padding: 0 2px !important;
}

.zero-padding {
    padding: 0;
}

.zero-padding-lang div ul li a {
    padding: 0 !important;
}

.ui-menubar  {
    padding: 0 !important;
}

.ui-menuitem-link {
    padding: 0 !important;
}

.ui-menuitem-link a {
    padding: 0 !important;
}

.country-flag {
    margin-top: -5px;
    margin-bottom: -14px;
    max-height: 42px;
}

.listening-image {
    margin-top: 10px;
    height: 55px;
    width: 47px;
}

.listening-title {
    font-family: URW Chancery L, cursive;
    font-size: 36px;
}