<div class="margin-bottom-50" *ngFor="let paragraph of paragraphs; index as iParagraph; trackBy: trackByFn">
  <div class="word" *ngFor="let word of paragraph.words; index as iWord; trackBy: trackByFn">
    
    <div [hidden]="(!checkInputVisibility(iParagraph, iWord)) || word.failedAttempts.length == 0" 
        class="tooltip">
      <div [ngClass]="word.tooltipClassNames">
        <div *ngFor="let failedAttempt of word.failedAttempts">
          <label class="margin-zero">{{failedAttempt}}&nbsp;&nbsp;&nbsp;</label>
        </div>
      </div>
    </div>

    <div (click)="setInputVisibility(iParagraph, iWord)">
      <button class="btn" [ngClass]="letter.className" 
        *ngFor="let letter of word.letters; trackBy: trackByFn" 
        (dblclick)="hintLetter(letter, iParagraph, iWord)">
              {{letter.symbol}}</button>
    </div>    

    <br />

    <div [hidden]="!checkInputVisibility(iParagraph, iWord, true)" class="margin-top-minus-18">
      <button class="btn btn-lw-succ margin-top-minus-7" [disabled]="isOkBtnDisabled(word)" 
                      (click)="checkWord(word, iParagraph, iWord)">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
      </button>

      <input type="text" [(ngModel)]="currentWord" [ngClass]="inputClassNames" id="{{iParagraph}}_{{iWord}}"
                            (keypress)="keyPress(word, iParagraph, iWord, $event.key)" />

      <button class="btn btn-lw-dang margin-top-minus-7" (click)="discardChanges()" 
                                  [disabled]="discardBtnDisabled()">
        <i class="fa fa-ban" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="isFinished">
  <appc-guessing-result [resultsData]="resultsData" [resultsWordsData]="resultsWordsData">
  </appc-guessing-result>
</div>