.bg-light-blue {
    background-color: #d7e5f9;
}

$sizes: 10;

@mixin sizes-bkv {
    @for $i from 1 through $sizes {
        .size-#{$i} {
            max-width: (12 * $i) + px;
            max-height: (10 * $i) + px;
        }
    }
}

@include sizes-bkv;