.margin-bottom-50 {
    margin-bottom: 50px;
}

.word {
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sign {
    font-size: xx-large;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
